[toolchain]

[features]
resolution = true
skip-lint = false

[programs.devnet]
anchor_counter = "zqXuMMnW2vZtczgstTAEKF7mnuDhvBM5qDhsoreD43s"
token-minter = "HfPTAU1bZBHPqcpEGweinAH9zsPafYnnaxk4k5xsTU3M"

[programs.localnet]
anchor_counter = "zqXuMMnW2vZtczgstTAEKF7mnuDhvBM5qDhsoreD43s"
token-minter = "HfPTAU1bZBHPqcpEGweinAH9zsPafYnnaxk4k5xsTU3M"


[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "NODE_OPTIONS='--no-deprecation' yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

[test]
startup_wait = 5000
shutdown_wait = 2000
upgradeable = false

[[test.genesis]]
address = "DELeGGvXpWV2fqJUhqcF5ZSYMS4JTLjteaAMARRSaeSh"
program = "tests/fixtures/dlp.so"
upgradeable = false
